{% extends "base.html" %}
{% load static %}


{% block title %}Etkinlik Detayları - {{ activity.name }}{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<div class="detail-container">

    <h2 class="detail-header">Etkinlik Detayları</h2>
    <h1 class="detail-title">{{ activity.name }}</h1>

    {% if activity.img_url %}
    <div class="image-wrapper">
        <img src="{{ activity.img_url }}" alt="{{ activity.name }}">
    </div>
    {% endif %}

    <div class="info-cards">

        <div class="info-card">
            <strong>Konum</strong>
            <p>{{ activity.location.name }}</p>
        </div>

        {% if activity.township.city.name %}
        <div class="info-card">
            <strong>Şehir / İlçe</strong>
            <p>{{ activity.city.name }}{% if activity.township.name %} {{ activity.township.city.name}} / {{ activity.township.name }}{% endif %}</p>
        </div>
        {% endif %}

        <div class="info-card">
            <strong>Ücret</strong>
            <p>{% if activity.is_paid %}Ücretli{% else %}Ücretsiz{% endif %}</p>
        </div>

    {% if activity.start_date %}
    <div class="info-card">
        <strong>Tarih</strong>
        <p>
            {% if activity.start_date.date == activity.end_date.date %}
            {{ activity.start_date|date:"j F Y" }}<br>
            {{ activity.start_date|time:"H:i" }} - {{ activity.end_date|time:"H:i" }}
            {% else %}
            Başlangıç: {{ activity.start_date|date:"j F Y H:i" }}<br>
            Bitiş: {{ activity.end_date|date:"j F Y H:i" }}
            {% endif %}
        </p>
    </div>
    {% endif %}


    </div>

    <section class="detail-content">
        {{ activity.content|safe }}
    </section>

    <div class="action-buttons">
        <a href="{{ activity.url }}" target="_blank" class="btn btn-secondary">Etkinlik Sayfası</a>
        <a href="{% url 'orders:create_order' activity_slug=activity.slug %}" class="btn btn-success">Bilet Al</a>

        <a href="{% url 'event:home' %}" class="btn btn-info mt-2">Geri Dön</a> 


    </div>

</div>
{% endblock %}