{% extends "base.html" %}
{% load static %}

{% block title %}Etkinlikler Listesi{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<form method="get" class="filter-form">

      <div class="form-group"  >
        <label for="search">Ara (İsim veya Konum)</label>
        <input type="text" name="search" id="search" value="{{ request.GET.search|default:'' }}"
            placeholder="Etkinlik ara">
            
    </div>

    <div class="form-group">
        <label for="category">Kategori</label>
        <select name="category" id="category">
            <option value="">Hepsi</option>
            {% for cat in categories %}
            <option value="{{ cat.slug }}" {% if selected_category == cat.slug %}selected{% endif %}>{{ cat.name }}
            </option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label for="city">Şehir</label>
        <select name="city" id="city">
            <option value="">Hepsi</option>
            {% for c in cities %}
            <option value="{{ c.slug }}" {% if selected_city == c.slug %}selected{% endif %}>{{ c.name }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label for="date">Tarih</label>
        <input type="date" name="date" id="date" value="{{ selected_date }}">
    </div>

    <div class="form-group">
        <label for="is_free">Ücret</label>
        <select name="is_free" id="is_free">
            <option value="">Hepsi</option>
            <option value="free" {% if selected_is_free == "free" %}selected{% endif %}>Ücretsiz</option>
            <option value="paid" {% if selected_is_free == "paid" %}selected{% endif %}>Ücretli</option>
        </select>

    </div>
    <div class="button-group">
        <button type="submit">Filtrele</button>
        <a href="{% url 'event:home' %}" class="reset-button">Sıfırla</a>
    </div>

</form>

<div class="activity-grid">
    {% for activity in page_obj %}
    <div class="activity-card">
        <a href="{% url 'event:activity_detail' activity.slug %}">
            {% if activity.img_url %}
            <img src="{{ activity.img_url }}" alt="{{ activity.name }}" class="activity-image">
            {% else %}
            <img src="{% static 'img/default.jpg' %}" alt="Görsel Yok" class="activity-image">
            {% endif %}
            <div class="activity-info">
                <h3>{{ activity.name }}</h3>
                <p>{{ activity.location.name }}</p>
            </div>
        </a>
        
        


    </div>
    {% empty %}
    <p>Hiç etkinlik bulunamadı.</p>
    {% if user.is_authenticated and user.role == 'organizer' %}
    <a href="{% url 'event:create_activity' %}" class="btn btn-success mt-3">İlk Etkinliğinizi Oluşturun</a>
    {% endif %}
    {% endfor %}
</div>


<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
    <a
        href="?page={{ page_obj.previous_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}
        {% if request.GET.category %}&category={{ request.GET.category }}{% endif %}
        {% if request.GET.city %}&city={{ request.GET.city }}{% endif %}
        {% if request.GET.date %}&date={{ request.GET.date }}{% endif %}
        {% if request.GET.is_free %}&is_free={{ request.GET.is_free }}{% endif %}">
            Önceki
    </a>
    {% endif %}

    <span class="current">
        Sayfa {{ page_obj.number}} / {{ page_obj.paginator.num_pages }}
    </span>

    {% if page_obj.has_next %}
    <a
        href="?page={{ page_obj.next_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}
        {% if request.GET.category %}&category={{ request.GET.category }}{% endif %}
        {% if request.GET.city %}&city={{ request.GET.city }}{% endif %}
        {% if request.GET.date %}&date={{ request.GET.date }}{% endif %}
        {% if request.GET.is_free %}&is_free={{ request.GET.is_free }}{% endif %}">
        Sonraki
    </a>
    {% endif %}
    </span>
</div>

<div class="pagination-numbers">
    {% for i in page_obj.paginator.page_range %}
        {% if page_obj.number == i %}
            <span class="current-page"> {{ i }} </span>
        {% else %}
    <a
        href="?page={{ i }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}
        {% if request.GET.category %}&category={{ request.GET.category }}{% endif %}
        {% if request.GET.city %}&city={{ request.GET.city }}{% endif %}
        {% if request.GET.date %}&date={{ request.GET.date }}{% endif %}
        {% if request.GET.is_free %}&is_free={{ request.GET.is_free }}{% endif %}">
        {{ i }}
    </a>
        {% endif %}
    {% endfor %}    
</div>

{% endblock %}
