{% extends 'base.html' %}

{% block title %} Etkinliği Sil {% endblock %}

{% block content %}

<div class="container mt-5">
    <h2>Etkinliği Sil</h2>

    <div class="alert alert-warning">
        <strong>{{activity.name}}</strong> adlı etkinliği silmek üzeresiniz. <br>
        Geri alamazsınız.Emin misiniz?
    </div>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Evet, Sil</button>
        <a href="{% url 'event:my_activities' %}" class="btn btn-secondary ms-2"> Vazgeç</a>
    </form>
</div>

{% endblock %}