<!DOCTYPE html>
<html lang="tr">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>{% block title %}Etkinlikler{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/nav.css' %}">

</head>

<body>
    <nav class="main-navbar">
        <div class="navbar-container">
            <div class="navbar-left">
                <a class="navbar-brand" href="{% url 'event:home' %}">Etkinlikler</a>
            </div>

            <div class="navbar-right">
                <ul class="nav-links">
                    <li><a href="{% url 'event:home' %}">Tüm Etkinlikler</a></li>

                    {% if user.is_authenticated and user.role in 'organizer,admin' %}
                    <li><a href="{% url 'event:create_activity' %}">Yeni Etkinlik Oluştur</a></li>
                    <li><a href="{% url 'event:my_activities' %}">Benim Etkinliklerim</a></li>
                    {% endif %}
                </ul>

                <ul class="auth-links">
                    {% if user.is_authenticated %}
                    <li class="dropdown">
                        <button class="dropbtn">Merhaba, {{ user.username }} ({{ user.get_role_display }}) ▼</button>
                        <div class="dropdown-content">
                            <a href="{% url 'account:profile' %}">Profil</a>
                            <a href="{% url 'event:favorites' %}">Favorilerim</a>
                            <a href="{% url 'account:logout' %}">Çıkış Yap</a>
                            <a href="">Ayarlar</a>
                        </div>
                    </li>

                    {% else %}
                    <li><a href="{% url 'account:register' %}" class="btn-link">Kayıt Ol</a></li>
                    <li><a href="{% url 'account:login' %}" class="btn-link">Giriş Yap</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>


    <div class="message-container">
        {% if messages %}
        <ul class="messages-list">
            {% for message in messages %}
            <li class="alert-{{ message.tags }}">
                {{ message }}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>

    {% block content %}
    {% endblock %}
</body>

</html>